body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #372160;
        }

        .login-container {
            background-color: white;
            padding: 2rem;
            width: 30rem;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }