 body {
            margin: 0;
            padding: 0;
        }

        .sidebar {
            color: white;
            width: 250px;
            height: 100vh;
            background-color: #372160;
            position: fixed;
            top: 75px;
            left: 0;
            padding-top: 20px;
        }

        .content {
            margin-left: 250px;
            margin-top: 55px;
            padding: 40px;
        }